<!DOCTYPE html>

<html>
    <head>
        <title>Dog Image Classifier</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

<body style = "background-color: white">

    <div style="position:absolute; margin:auto; width:700px; height:700px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
        <h1> Let me see your image UwU </h1>
        <img src='/cat_images/cat11.png' style="width: 30%; height: auto;">
        <h6> only upload iamges less than 500kb in size! </h6>
        <form method=post enctype=multipart/form-data>
            <p>
                <input type=file name=file>
                <input type=submit value=Upload>
            </p>
        </form>

    </div>
    
</body>

</html>